# The level of difficulty in the questions (10 - 100,000)
difficulty=1000

# How to represent remainder in division (remainder | decimal | mixed_fraction | reduced_fraction | no_fraction)
remainder=no_fraction

# Whether the problems should have negative answers
negatives_addition=no_negatives
negatives_subtraction=no_negatives
negatives_multiplication=no_negatives
negatives_division=no_negatives


